* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    overflow: hidden;
}

html, body, canvas, #menu, #menu > *, #game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

canvas {
    background-color: transparent;
}

#game > * {
    background-color: transparent;
    user-select: none;
}

#left-info {
    position: absolute;
    top: 5px;
    left: 5px;
}

#right-info {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}

#game canvas {
    bottom: 40px;
}

#info-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: #4f4f4f;
    color: white;
}

#info-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#info-bar button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    border: none;
    border-radius: 100%;
}

#info-bar img {
    image-rendering: pixelated;
}

#play-pause-button {
    margin-right: 30px;
}

#right-panel {
    padding: 10px 10px 20px 20px;
    position: absolute;
    top: 0;
    bottom: 40px;
    right: 0;
    background-color: black;
    border-left: 1px solid #dfdfdf;
    overflow-y: scroll;
}

#right-panel-resizer {
    position: absolute;
    top: calc(50% - 30px);
    height: 20px;
    width: 30px;
    border: 1px solid #dfdfdf;
    background-color: black;
}

#right-panel-resizer:hover {
    cursor: grab;
}

#right-panel-resizer:active {
    cursor: grabbing;
}

#right-panel > div {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#right-panel > div > div:not(.rp-sub) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}

.rp-sub {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    background-color: black;
    color: white;
    border: 1px solid gray;
    outline: none;
}

input.invalid {
    border: 1px solid red;
}

input[type=checkbox] {
    appearance: none;
    height: 1em;
    width: 1em;
}

input[type=checkbox]:checked {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 16 16'><line x1='2' y1='9' x2='6' y2='13' stroke='white' /><line x1='6' y1='13' x2='14' y2='3' stroke='white' /></svg>");
}

select {
    background-color: black;
    color: white;
    border: 1px solid gray;
}

#right-panel button {
    padding: 2px 4px;
    margin-bottom: 2px;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid gray;
}

#right-panel h1 {
    text-align: center;
}

#right-panel input:not([type]) {
    width: 15ch;
}

#wc-tps {
    width: 7ch !important;
}

#oe-designation {
    width: 20ch !important;
}

#oe-texture {
    width: 40ch !important;
}

#menu {
    background-color: transparent;
    color: white;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 72px;
}

#menu button {
    padding: 7px;
    background-color: #7f7f7f;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 24px;
}

#menu button:hover {
    background-color: #5f5f5f;
}

#main-menu button {
    width: 250px;
}

div > .main-menu-button {
    margin-bottom: 25px;
}

#about-menu, #settings-menu {
    overflow-y: scroll;
    padding: 50px 200px;
}

#settings-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings-menu > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#settings-menu > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}
