* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    overflow: hidden;
}

html, body, canvas, #menu, #menu > *, #game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

canvas {
    background-color: transparent;
}

#game > * {
    background-color: transparent;
}

#left-info {
    position: absolute;
    top: 5px;
    left: 5px;
}

#right-info {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}

#game canvas {
    bottom: 40px;
}

#info-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #4f4f4f;
    color: white;
}

#info-bar button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    border: none;
    border-radius: 100%;
}

#info-bar img {
    image-rendering: pixelated;
}

#play-pause-button {
    margin-right: 30px;
}

#slow-button {
    margin-right: 3px;
}

#menu {
    background-color: transparent;
    color: white;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 72px;
}

#menu button {
    padding: 7px;
    background-color: #7f7f7f;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 24px;
}

#menu button:hover {
    background-color: #5f5f5f;
}

#main-menu button {
    width: 250px;
}

#about-menu {
    overflow-y: scroll;
    padding: 50px 200px;
}
